{% extends 'base.html' %}
{% block content %}
        <br><br><br>
        <section class="page-section about-heading">
            <div class="container">
                {% comment %} <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." /> {% endcomment %}
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Empowering the Differently able Children</span>
                                    <span class="section-heading-lower">About Our Institute</span>
                                </h2>
                                <p>Asha-Lata Institute is a nurturing haven for children with disabilities, established on 19th July 1999 as "Asha-Lata Viklang Vikas Kendra" by retired senior officials from SAIL, Bokaro Steel Plant. Our founders, Late B. B. Jaipuriar and Shri B. S. Jayaswal, envisioned a place where differently-abled children could receive the support and education they need to thrive. Today, we serve over 198 students, providing education from Class I to XII and offering guidance for higher studies.</p>
                                <p class="mb-0">
                                    Our mission is to <em>empower these children </em>by treating them as family members and supporting them until they are settled in life. We offer free courses in arts, crafts, music, dance, vocational training, and computer skills, helping our students gain the confidence and abilities necessary for independence. Many have successfully integrated into mainstream society, securing government jobs or starting their own businesses. Asha-Lata operates solely on donations, with a dedicated team of retired senior executives from SAIL, Bokaro Steel Plant, who volunteer their services. Join us in making a difference and supporting these children in achieving their dreams.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}