{% extends 'base.html' %}
{% block content%}

        <br><br><br>
        <section class="page-section about-heading">
            <div class="container">
                {% comment %} <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." /> {% endcomment %}
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Our Contact Details</span>
                                    {% comment %} <span class="section-heading-lower">About Our Cafe</span> {% endcomment %}
                                </h2>
                                <div class="contact-section">
                                    <p>You are welcome to contact us for any query & details.</p>
                                    
                                    <div class="contact-details">
                                        <h3>DIRECTOR, ASHA-LATA</h3>
                                        <p><strong>Shri B. S. Jayaswal</strong></p>
                                        <p>Email-Id: <a href="mailto:bsjayaswal@hotmail.com">bsjayaswal@hotmail.com</a></p>
                                        <p>Mob.: <a href="tel:+919431127778">9431127778</a></p>
                                    </div>
                                    <br>
                                    <div class="correspondence-details">
                                        <h3>Address for correspondence:</h3>
                                        <p><strong>Shri P. K. Dubey</strong></p>
                                        <p>Principal, ASHA-LATA</p>
                                        <p>Sector- 5D, Bokaro Steel City</p>
                                        <p>Distt. - Bokaro, Jharkhand, INDIA</p>
                                        <p>Pin-827006</p>
                                        <p>Phone (O): 06542-287766</p>
                                        <p>Mob.: <a href="tel:+919835327133">9835327133</a></p>
                                        <p>Email Id: <a href="mailto:ashalatakendra@yahoo.co.in">ashalatakendra@yahoo.co.in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}