{% extends 'base.html' %}
{% block content%}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Welcome </span>
                                <span class="section-heading-lower">to Asha Lata</span>
                            </h2>
                            <p class="mb-0">Where we are dedicated to the education, development, and rehabilitation of children with various challenges, including hearing and visual impairments, orthopedic disabilities, intellectual challenges, autism, cerebral palsy, and multiple disabilities. Founded on 19th July 1999 by retired senior officials of SAIL, Bokaro Steel Plant, our institute has grown from 45 children to over 198 students, driven by the vision of Late B. B. Jaipuriar and Shri B. S. Jayaswal.</p>
                            <br><break> 
                            <p class="mb-0">At Asha-Lata, we believe in empowering differently-abled children by providing them with comprehensive support, from education and vocational training to job placement and personal development. Our free courses in arts, crafts, music, dance, and professional computer skills ensure our students have the tools they need to succeed. Many of our students have gone on to secure government jobs, start their own businesses, and lead fulfilling personal lives.<br><br> Join us in our mission to transform lives and help these incredible children achieve their dreams. </p>
                            <br><br>
                            <div class="intro-button-container">
                                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="https://ashalatabokaro.com/hsponsors.php">Sponsor Us</a></div><br>
                                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="https://ashalatabokaro.com/hdonate.php">Donate Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}