{% extends 'base.html' %}
{% block content%}


        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class = "section-heading-upper" >Update Password</span>
                                <span class="section-heading-lower">Update User Password</span>
                            </h2>
                              
                                <form method="POST" action="{% url 'update_password' %}">                                      {% csrf_token %}
                                {{form.as_p}}
                              
                                <br><br>
                                <div class="intro-button mx-auto"><button type="submit" class="btn btn-secondary btn-lg" >Update Password</button></div>
                                <br>
                                
                                </form>
                                

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}