{% extends 'base.html' %}
{% block content %}
        <br><br><br>
        <section class="page-section about-heading">
            <div class="container">
                {% comment %} <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." /> {% endcomment %}
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Shopping Cart</span>
                                    <span class="section-heading-lower">View your cart..</span>
                                </h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% comment %} <div class="container"> 
            {% for product in cart_products %}
            <div class="bg-faded rounded p-5 card col-xl-9 col-lg-10 mx-auto mb-4">
                <div class="d-flex align-items-center">
                <img class="img-fluid rounded card-img-left mb-3 mb-lg-5" src="{{product.image.url}}" alt="{{product.name}}" />
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">{{product.name}}</span>
                    <span class="section-heading-lower">{{product.category}}</span>
                  </h2>
                  <p>{{product.description}}</p>
                  <p class="mb-0">
                    {% if product.is_sale %}
                      Price : <strike>₹{{product.price}}</strike>&nbsp;{{product.sale_price}}
                    {% else %}
                      Price : ₹{{product.price}}
                    {% endif%}
                  </p><br><br>
                  
                </div>
                </div>
              </div><br/><br>
            {% endfor %}
        </div> {% endcomment %}
        <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}
            <div class="bg-faded rounded p-5 card col-xl-9 col-lg-10 mx-auto mb-4">
              <div class="d-flex align-items-center">
                
                <div class="product-details ml-4">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">{{product.name}}</span>
                    <span class="section-heading-lower">{{product.category}}</span>
                  </h2>
                  <p>{{product.description}}</p>
                  <p class="mb-0">
                    {% if product.is_sale %}
                      Price : <strike>₹{{product.price}}</strike>&nbsp;₹{{product.sale_price}}
                    {% else %}
                      Price : ₹{{product.price}}
                    {% endif %}
                  </p>
                </div>
                <img class="product-img " src="{{product.image.url}}" alt="{{product.name}}" />
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="bg-faded rounded p-5 card col-xl-5 col-lg-10 mx-auto mb-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center">
                  <div class="product-details">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; Oops! There's nothing in your cart right now...</p> <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shop from our store to support us. ❤️</p>
                    <div class="intro-button-container">
                      <div class="intro-button mx-0">
                        <a class="btn btn-outline-primary btn-secondary" href="{% url 'store' %}">Store</a>
                      </div><br>
                    </div>
                  </div>
                </div>
              </div>
              
                
        {% endif %}
          </div>
          
{% endblock %}